@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-light-webfont.woff') format('woff'), url('../fonts/oswald-light-webfont.ttf') format('truetype'), url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldreg';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-regular-webfont.woff') format('woff'), url('../fonts/oswald-regular-webfont.ttf') format('truetype'), url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-bold-webfont.woff') format('woff'), url('../fonts/oswald-bold-webfont.ttf') format('truetype'), url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    padding-top: 130px;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    font-size: 14px;
    line-height: 160%; /* body padding for fixed top nav */
}

.img-home-portfolio, .img-customer, .portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}
/* Page Sections */
.section, .section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

    .sidebar ul {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #cccccc;
    }
/* Half Page Height Carousel Customization */
.carousel {
    /* height: 50%;*/
    height: 410px;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-caption h1 {
    font-size: 30px;
    background: #004f91;
    color: #FFF;
    display: inline-block;
    padding: 5px;
    margin: 0px;
    opacity: 0.9;
    clear: both;
    font-family: oswaldreg, Helvetica, Arial, sans-serif;
}

.carousel-caption h2 {
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background: #333;
    padding: 5px;
    margin: 10px 0 0 0;
    opacity: 0.8;
    font-family: oswaldreg, Helvetica, Arial, sans-serif;
}

.item, .active, .carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}
/* Service Page Styles */
.service-icon {
    font-size: 50px;
}
/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}
/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}
/* Footer Styles */
footer {
    margin: 50px 0;
}

.navbar-default {
    background-color: #fff;
}

.navbar-brand {
    background: url(../images/capone.jpg) no-repeat;
    width: 230px;
    height: 70px;
    text-indent: -999em;
}

.toolbar-wrapper {
    padding: 5px 0;
    background: #3a4d61;
    text-align: right;
}

#sp-toolbar a {
    color: #8e9aa7;
    padding: 5px 0;
    margin: 0 0 0 10px;
    width: 25px;
    text-align: center;
}

    #sp-toolbar a:hover {
        color: #049cdb;
        background: #FFF;
        text-decoration: none;
    }

.topSec {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav > li > a {
    text-transform: uppercase;
    font-family: oswaldlight;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .nav .dropdown-menu > li > a:hover {
    background: #666666;
    color: #fff;
}

.nav .dropdown-menu > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: oswaldlight;
}

.navbar-nav.navbar-right {
    margin-top: 20px;
}

.homesec h1 {
    color: #004f91;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-family: oswaldlight;
}

.section-colored {
    background: #f2f2f2;
}

.homepods h3 {
    margin: 0 0 20px 0px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    color: #004f91;
    border-bottom: 1px solid #9c9c9c;
    font-family: oswaldreg;
}

#servicesCarousel.carousel, #proiductCarousel.carousel {
    height: auto;
}

#servicesCarousel .carousel-indicators, #proiductCarousel .carousel-indicators {
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 0px;
    padding: 20px 0 0 0;
}

    #servicesCarousel .carousel-indicators .active, #proiductCarousel .carousel-indicators .active {
        background: #666;
    }

    #servicesCarousel .carousel-indicators li, #proiductCarousel .carousel-indicators li {
        border-color: #666;
    }

#servicesCarousel .carousel-inner, #proiductCarousel .carousel-inner {
    min-height: 160px;
    text-align: center;
}

#bottom {
    background: #323232;
    color: #cccccc;
    padding-top: 30px;
    padding-bottom: 30px;
}

    #bottom a, #bottom a:hover, #bottom a:focus {
        color: #cccccc;
    }

    #bottom ul {
        list-style: none;
        padding: 0 0px;
        margin: 0px;
    }

        #bottom ul li {
            font-size: 16px;
            padding: 0px;
            margin: 0px;
            padding: 5px 0 5px 0px;
        }

        #bottom ul ul li {
            font-size: 14px;
            padding: 5px 0 0px 20px;
            margin: 0 0 0 10px;
            background: url(../images/footer-nav-icon.png) left center no-repeat;
        }

    #bottom h3 {
        margin: 0 0 10px 0px;
        padding: 0 0 10px 0;
        text-transform: uppercase;
        color: #cccccc;
        border-bottom: 1px solid #cccccc;
        font-family: oswaldlight;
        font-size: 24px;
    }

#footer {
    padding: 20px 0 10px;
    background: #515253;
    color: #cccccc;
}

#innerbanner {
    padding: 0px;
    height: 200x;
    background: url(../images/innerbaner.jpg) no-repeat;
    background-size: cover;
}

    #innerbanner h1 {
        padding-top: 100px;
        font-family: oswaldbold;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

.innercontent {
    padding: 20px 0 40px;
}

    .innercontent h2 {
        font-family: oswaldlight;
        color: #004f91;
    }

.icon.square {
    background-color: #666;
    border: #666 solid 1px;
    color: #FFFFFF;
    padding: 5px;
    width: 30px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

    .icon.square:hover {
        background-color: #fff;
        border: #666 solid 1px;
        color: #666;
    }
/* Responsive Styles */
@media (max-width: 767px) {
    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }

    .navbar-nav.navbar-right {
        margin-top: 0px;
    }

    #innerbanner .col-lg-6 {
        padding-top: 0px;
        text-align: center !important;
    }

    #innerbanner h1 {
        padding-top: 0px;
    }
}


@media (min-width:800px) {
    #innerbanner h1 {
        padding-top: 0px;
    }
}
