<!DOCTYPE html>
<html ng-app="">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        .control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
            color: #B94A48;
        }

        .help-inline {
            display: inline-block;
            vertical-align: middle;
            padding-left: 5px;
        }
    </style>

</head>
<body>
    <form name="form">
        <div class="container-fluid jumbotron">
            <div class="row col-md-12">
                <div class="form-group" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
                    <label class="control-label" for="email">Your email address</label>
                    <div class="controls">
                        <input type="email" name="email" ng-model="email" required />
                        <span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
                        <span class="help-inline" ng-show="submitted && form.email.$error.email">Invalid email</span>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true">
                    Submit
                </button>
            </div>
        </div>
    </form>
    
</body>
</html>
<script src="Scripts/angular.min.js"></script>
