<!DOCTYPE html>
<html ng-app="uigrid">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <script src="../Scripts/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular-touch.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular-animate.min.js"></script>
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <style>
        .grid {
            width: 500px;
            height: 250px;
        }
    </style>
    <script>
        var app = angular.module('uigrid', ['ngTouch', 'ui.grid']);

        app.controller('MainCtrl', ['ProductsService', '$scope', function (ProductsService, $scope) {
            $scope.gridOptions = {
                excludeProperties: '__metadata',
                enablePaginationControls: false
            };

            $scope.pagination = {
                pageSize: 5,
                pageNumber: 1,
                totalItems: null,
                getTotalPages: function () {
                    return Math.ceil(this.totalItems / this.pageSize);
                },
                nextPage: function () {
                    if (this.pageNumber < this.getTotalPages()) {
                        this.pageNumber++;
                        $scope.load();
                    }
                },
                previousPage: function () {
                    if (this.pageNumber > 1) {
                        this.pageNumber--;
                        $scope.load();
                    }
                }
            }

            $scope.load = function () {
                ProductsService.readAll($scope.pagination.pageSize, $scope.pagination.pageNumber).then(function (response) {
                    $scope.gridOptions.data = response.data;
                    $scope.pagination.totalItems = response.totalRows;

                });
            }

            $scope.load();
        }]);


        (function () {

            angular.module('uigrid')
                .service('ProductsService', ['$http', ProductsService]);

            function ProductsService($http) {

                var self = this;
                var baseUrl = 'https://api.backand.com/1/objects/';
                var anonymousToken = {
                    'AnonymousToken': '78020290-5df3-44b8-9bdb-7b3b4fea2f25'
                };

                var objectName = 'products';

                self.readAll = function (pageSize, pageNumber) {
                    return $http({
                        method: 'GET',
                        url: baseUrl + objectName,
                        params: {
                            pageSize: pageSize,
                            pageNumber: pageNumber
                        },
                        headers: anonymousToken
                    }).then(function (response) {
                        return response.data;
                    });
                };

                self.readOne = function (id) {
                    return $http({
                        method: 'GET',
                        url: baseUrl + objectName + '/' + id,
                        headers: anonymousToken
                    }).then(function (response) {
                        return response.data;
                    });
                };

                self.create = function (data) {
                    return $http({
                        method: 'POST',
                        url: baseUrl + objectName,
                        data: data,
                        params: {
                            returnObject: true
                        },
                        headers: anonymousToken
                    }).then(function (response) {
                        return response.data;
                    });
                };

                self.update = function (id, data) {
                    return $http({
                        method: 'PUT',
                        url: baseUrl + objectName + '/' + id,
                        data: data,
                        headers: anonymousToken
                    }).then(function (response) {
                        return response.data;
                    });
                };

                self.delete = function (id) {
                    return $http({
                        method: 'DELETE',
                        url: baseUrl + objectName + '/' + id,
                        headers: anonymousToken
                    });
                };

            }
        }());
    </script>
</head>
<body>
    <div ng-controller="MainCtrl">
        <div ui-grid="gridOptions" class="grid"></div>
        <p>
            Current page:
            <input type="number" min="1" max="{{ pagination.getTotalPages() }}" ng-model="pagination.pageNumber" ng-change="load()">of {{ pagination.getTotalPages() }}
        </p>
        <button type="button" class="btn btn-success" ng-click="pagination.previousPage()">previous page</button>
        <button type="button" class="btn btn-success" ng-click="pagination.nextPage()">next page</button>
    </div>
</body>
</html>
